html, body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

html{
    background-image: linear-gradient(0, #cecec1, #c9f6fc);
    min-height:100%;
}

img {
    width: 100%;
    height: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* The Modal (background) */
.modal {
    display: block; /* Shown by default */
    z-index: 1; /* Sit on top */
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#grid {
    display: none;
    margin-top: 2%;
}

#instructions {
    text-align: center;
}

#midSurvey{
    display: none;
    line-height: 250%;
}

#endSurvey{
    display: none;
    line-height: 250%;
}

/*
change display or comment out to see skip button
*/
#skiptosurvey{
    display: none;
}